In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Maningrida,AU,2021-11-20 15:44:49,-12.0667,134.2667,82.45,68,31,8.66
1,1,Avarua,CK,2021-11-20 15:42:14,-21.2078,-159.7750,73.45,78,36,6.91
2,2,Ostrovnoy,RU,2021-11-20 15:44:50,68.0531,39.5131,32.59,79,100,12.06
3,3,Almoloya,MX,2021-11-20 15:44:50,19.7000,-98.4000,54.97,61,58,3.15
4,4,Jamestown,US,2021-11-20 15:40:33,42.0970,-79.2353,39.02,70,1,8.01

In [3]:
#Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Maningrida,AU,2021-11-20 15:44:49,-12.0667,134.2667,82.45,68,31,8.66
5,5,Cape Town,ZA,2021-11-20 15:40:29,-33.9258,18.4232,76.12,49,20,19.57
11,11,Hithadhoo,MV,2021-11-20 15:44:52,-0.6000,73.0833,81.07,81,100,16.35
13,13,Itoman,JP,2021-11-20 15:44:52,26.1247,127.6694,75.58,73,75,9.22
14,14,Victoria,HK,2021-11-20 15:43:41,22.2855,114.1577,75.38,82,87,5.99
15,15,Butaritari,KI,2021-11-20 15:44:53,3.0707,172.7902,81.91,66,97,14.12
16,16,Auki,SB,2021-11-20 15:44:53,-8.7676,160.7034,77.14,82,95,0.20
17,17,Saint-Philippe,RE,2021-11-20 15:44:53,-21.3585,55.7679,78.39,76,49,9.33
18,18,Salalah,OM,2021-11-20 15:44:53,17.0151,54.0924,80.69,74,20,3.44
21,21,Chuy,UY,2021-11-20 15:44:54,-33.6971,-53.4616,80.33,42,0,10.47

In [12]:
preferred_cities_df.count()

City_ID       172
City          172
Country       171
Date          172
Lat           172
Lng           172
Max Temp      172
Humidity      172
Cloudiness    172
Wind Speed    172
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0       Maningrida      AU     82.45 -12.0667  134.2667
5        Cape Town      ZA     76.12 -33.9258   18.4232
11       Hithadhoo      MV     81.07  -0.6000   73.0833
13          Itoman      JP     75.58  26.1247  127.6694
14        Victoria      HK     75.38  22.2855  114.1577
15      Butaritari      KI     81.91   3.0707  172.7902
16            Auki      SB     77.14  -8.7676  160.7034
17  Saint-Philippe      RE     78.39 -21.3585   55.7679
18         Salalah      OM     80.69  17.0151   54.0924
21            Chuy      UY     80.33 -33.6971  -53.4616

In [19]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    #print(hotels)
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        hotel_df.head()

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Maningrida,AU,82.45,-12.0667,134.2667,Dhukurrdji Lodge
5,Cape Town,ZA,76.12,-33.9258,18.4232,Southern Sun Waterfront Cape Town
11,Hithadhoo,MV,81.07,-0.6000,73.0833,Scoop Guest House
13,Itoman,JP,75.58,26.1247,127.6694,Southern Beach Hotel & Resort Okinawa
14,Victoria,HK,75.38,22.2855,114.1577,Mini Hotel Central

In [23]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [25]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))