## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mount Isa,AU,-20.7333,139.5000,76.77,41,9,8.05,clear sky
1,1,Butaritari,KI,3.0707,172.7902,80.62,80,39,8.32,scattered clouds
2,2,Mar Del Plata,AR,-38.0023,-57.5575,68.88,67,95,11.99,overcast clouds
3,3,Tautira,PF,-17.7333,-149.1500,84.22,69,18,6.33,few clouds
4,4,Kapaa,US,22.0752,-159.3190,80.58,74,75,1.99,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your vacation? "))
max_temp = float(input("What is the maximum temperature you would like for your vacation? "))

What is the minimum temperature you would like for your vacation? 75
What is the maximum temperature you would like for your vacation? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mount Isa,AU,-20.7333,139.5000,76.77,41,9,8.05,clear sky
1,1,Butaritari,KI,3.0707,172.7902,80.62,80,39,8.32,scattered clouds
3,3,Tautira,PF,-17.7333,-149.1500,84.22,69,18,6.33,few clouds
4,4,Kapaa,US,22.0752,-159.3190,80.58,74,75,1.99,broken clouds
6,6,Hilo,US,19.7297,-155.0900,80.33,71,40,3.44,scattered clouds
7,7,Puerto Escondido,MX,15.8500,-97.0667,86.83,66,1,8.05,clear sky
12,12,Castro,BR,-24.7911,-50.0119,75.54,47,10,5.44,clear sky
13,13,Puerto Ayora,EC,-0.7393,-90.3518,78.76,77,58,11.01,broken clouds
15,15,Vaini,TO,-21.2000,-175.2000,80.76,89,20,3.44,few clouds
26,26,Mahajanga,MG,-15.7167,46.3167,80.62,83,40,8.05,light rain

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                206
City                   206
Country                205
Lat                    206
Lng                    206
Max Temp               206
Humidity               206
Cloudiness             206
Wind Speed             206
Current Description    206
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna(inplace=True)
clean_df = preferred_cities_df.dropna()
clean_df.head(10)

/Users/funmi-macbook/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mount Isa,AU,-20.7333,139.5000,76.77,41,9,8.05,clear sky
1,1,Butaritari,KI,3.0707,172.7902,80.62,80,39,8.32,scattered clouds
3,3,Tautira,PF,-17.7333,-149.1500,84.22,69,18,6.33,few clouds
4,4,Kapaa,US,22.0752,-159.3190,80.58,74,75,1.99,broken clouds
6,6,Hilo,US,19.7297,-155.0900,80.33,71,40,3.44,scattered clouds
7,7,Puerto Escondido,MX,15.8500,-97.0667,86.83,66,1,8.05,clear sky
12,12,Castro,BR,-24.7911,-50.0119,75.54,47,10,5.44,clear sky
13,13,Puerto Ayora,EC,-0.7393,-90.3518,78.76,77,58,11.01,broken clouds
15,15,Vaini,TO,-21.2000,-175.2000,80.76,89,20,3.44,few clouds
26,26,Mahajanga,MG,-15.7167,46.3167,80.62,83,40,8.05,light rain

In [7]:
clean_df.count()

City_ID                205
City                   205
Country                205
Lat                    205
Lng                    205
Max Temp               205
Humidity               205
Cloudiness             205
Wind Speed             205
Current Description    205
dtype: int64

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Mount Isa,AU,76.77,clear sky,-20.7333,139.5000,
1,Butaritari,KI,80.62,scattered clouds,3.0707,172.7902,
3,Tautira,PF,84.22,few clouds,-17.7333,-149.1500,
4,Kapaa,US,80.58,broken clouds,22.0752,-159.3190,
6,Hilo,US,80.33,scattered clouds,19.7297,-155.0900,
7,Puerto Escondido,MX,86.83,clear sky,15.8500,-97.0667,
12,Castro,BR,75.54,clear sky,-24.7911,-50.0119,
13,Puerto Ayora,EC,78.76,broken clouds,-0.7393,-90.3518,
15,Vaini,TO,80.76,few clouds,-21.2000,-175.2000,
26,Mahajanga,MG,80.62,light rain,-15.7167,46.3167,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Mount Isa,AU,76.77,clear sky,-20.7333,139.5000,ibis Styles Mt Isa Verona
1,Butaritari,KI,80.62,scattered clouds,3.0707,172.7902,Isles Sunset Lodge
3,Tautira,PF,84.22,few clouds,-17.7333,-149.1500,Pension Oaoa
4,Kapaa,US,80.58,broken clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
6,Hilo,US,80.33,scattered clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
7,Puerto Escondido,MX,86.83,clear sky,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
12,Castro,BR,75.54,clear sky,-24.7911,-50.0119,CHACARA BAILLY
13,Puerto Ayora,EC,78.76,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
15,Vaini,TO,80.76,few clouds,-21.2000,-175.2000,Keleti Beach Resort
26,Mahajanga,MG,80.62,light rain,-15.7167,46.3167,Restaurant Greedy Coco Lodge Majunga

In [11]:
hotel_df.count()

City                   205
Country                205
Max Temp               205
Current Description    205
Lat                    205
Lng                    205
Hotel Name             205
dtype: int64

In [12]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna()
hotel_df.dropna(inplace=True)
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Mount Isa,AU,76.77,clear sky,-20.7333,139.5000,ibis Styles Mt Isa Verona
1,Butaritari,KI,80.62,scattered clouds,3.0707,172.7902,Isles Sunset Lodge
3,Tautira,PF,84.22,few clouds,-17.7333,-149.1500,Pension Oaoa
4,Kapaa,US,80.58,broken clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
6,Hilo,US,80.33,scattered clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
7,Puerto Escondido,MX,86.83,clear sky,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
12,Castro,BR,75.54,clear sky,-24.7911,-50.0119,CHACARA BAILLY
13,Puerto Ayora,EC,78.76,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
15,Vaini,TO,80.76,few clouds,-21.2000,-175.2000,Keleti Beach Resort
26,Mahajanga,MG,80.62,light rain,-15.7167,46.3167,Restaurant Greedy Coco Lodge Majunga

In [13]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [14]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [15]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))